src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://uan.com/user"
           xmlns="http://uan.com/user"
           elementFormDefault="qualified">

    <xs:element name="userInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id" type="xs:int"/>
                <xs:element name="Nome" type="xs:string"/>
                <xs:element name="estado" type="xs:string"/>
                <xs:element name="pontos" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
